.burger-button {
  @include reset-button;
  @include square(48px);
  position: relative;
  z-index: 100;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease-in-out;

  @include hover {
    background-color: var(--color-accent);
  }
}

.header__burger-button--line {
  @include abs-center;
  width: 50%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.header__burger-button--line:nth-child(1) {
  transform: translate(-50%, -10px);
}

.header__burger-button--line:nth-child(3) {
  transform: translate(-50%, 8px);
}

.header__burger-button--active {
  .header__burger-button--line:nth-child(1) {
    transform: translate(-50%, 0) rotate(-45deg);
  }

  .header__burger-button--line:nth-child(2) {
    opacity: 0;
  }

  .header__burger-button--line:nth-child(3) {
    transform: translate(-50%, 0) rotate(45deg);
  }
}
