.hero {
  &__inner--top {
    display: flex;
    column-gap: 110px;

    @include mobile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 40px;
    }
  }

  &__inner--bottom {
    display: flex;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-large);
    border: 1px solid var(--color-dark);
    box-shadow: 5px 5px 0 var(--color-dark);

    &:before,
    &:after {
      position: absolute;
      top: 0;
      width: 50px;
      height: 100%;
      content: "";
      z-index: 1;
    }
    &:before {
      left: 0;
      background: linear-gradient(to right, white 5%, transparent 100%);
    }
    &:after {
      right: 0;
      background: linear-gradient(to left, white 5%, transparent 100%);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    row-gap: 35px;
    width: 530px;

    @include mobile {
      width: 100%;
    }
  }
  &__title {
    @include mobile {
      text-align: center;
    }
    font-weight: 500;
  }

  &__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__paragraph {
    @include fluid-text(20, 16);
    @include mobile {
      text-align: center;
    }
  }

  &__button {
    align-self: flex-start;
    @include mobile {
      align-self: center;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 95px;

    @include tablet {
      column-gap: 45px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  &__link img {
    transition: all var(--transition-duration) ease;
    filter: grayscale(100%);
    @include hover {
      filter: grayscale(0);
    }
  }
}
