.mobile-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 110vh;
  align-items: center;
  z-index: 10;
  top: -21px;
  right: 0;
  bottom: 0;
  left: -1px;
  transform: translateX(100%);
  background-color: var(--color-light);
  transition: all var(--transition-duration) ease;

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
  }

  @include mobile {
    top: -16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}

.mobile__media {
  display: flex;
  column-gap: 35px;
}

.mobile__linkedin,
.mobile__twitter {
  color: var(--color-light);
  background-color: var(--color-dark);
  border-radius: 100%;

  @include hover {
    background-color: var(--color-accent);
  }
}

.mobile__facebook {
  @include hover {
    color: var(--color-accent);
  }
}
.mobile-overlay--active {
  transform: translateX(0);
}
